* {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
html {
  scroll-behavior: smooth;
}
.hr {
  background: #363636;
  opacity: 0.2;
  margin: 3rem 0;
}

.subtitle {
  font-size: 30.4rem;
}

/******************************HEADER***********************************/

nav {
  background: #6e14e3;
  padding: 5px 20px;
  transition: 0.3s ease all;
  position: sticky;
  top: 0;
  z-index: 30000;
  height: 3rem;
}

ul {
  list-style-type: none;
  margin: auto;
}
.nav_link {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}
.nav_link:hover {
  color: #fbc922;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
  background: #6e14e3;
  width: 100vw;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: #999;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    text-decoration: none;
    transition: all 0.25s;
  }
  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }
  .button.secondary a:hover {
    color: #ddd;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}
/******************************MAIN***********************************/

.main {
  width: 100%;
  background: rgb(110, 20, 227);
  background: linear-gradient(
    180deg,
    rgba(110, 20, 227, 1) 0%,
    rgba(144, 63, 250, 1) 100%
  );
  height: 35rem;
  display: flex;
  flex-direction: column;
}
.main_container {
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.main_container h2 {
  font-size: 2.5rem;
  margin: 0;
  color: white;
  text-align: center;
}
.main_container p {
  color: white;
  margin: 1rem 0;
}

.main_img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_img {
  width: 10rem;
  height: 10rem;
  background-color: red;
  border-radius: 100%;
  margin: 1rem 0;
}

.main_button_container {
  background: #f2c533;
  padding: 1rem 1.3rem;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.3s ease all;
}
.main_button_container:hover {
  background: #fbc922;
  box-shadow: 0 0 10px #fbc922;
}
.main_button {
  color: black;
  text-decoration: none;
  font-weight: 100;
}

/******************************INFO***********************************/
.info_container {
  display: flex;
  justify-content: center;
}

.info {
  text-align: center;
  color: #363636;
  width: 80%;
  padding: 3rem;
}

.info p {
  z-index: 900;
  font-weight: 100;
}

.info h4 {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.7;
}

/******************************PORTFOLIO***********************************/

.portfolio h4 {
  text-align: center;
  font-size: 1.3rem;
  color: #363636;
  margin: 0;
  opacity: 0.7;
  font-size: 0.9rem;
}

.portfolio_item_text h5 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.porfolio_item {
  margin: 3rem 0;
  display: flex;
  padding: 0 5rem;
  align-items: center;
  margin: 6rem 0;
}

.portfolio_item_text {
  font-weight: 200;
  color: #363636;
  font-size: 0.8rem;
  margin: 0 4rem;
}

.portfolio_item_text p {
  font-size: 0.9rem;
  opacity: 0.8;
  width: 50%;
}

.portfolio_button_container {
  display: flex; /*Poner flex*/
  width: 100%;
  align-items: center;
  margin-top: 3rem;
}

.btn {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem; /**70% hay que poner para el responsive*/
  border-radius: 30px;
  transition: 0.3s ease all;
  text-decoration: none;
  cursor: pointer;
}

.btn_outlined {
  border: 1px solid #6e14e3;
  color: #6e14e3;
}
.btn_contained {
  background: #6e14e3;
  color: white;
}
.btn_contained:hover {
  background: #452bc7;
}
.btn_outlined:hover {
  background: #6e14e3;
  color: white;
}

.portfolio_button a {
  color: #6e14e3;
}

/******************************SKILLS***********************************/
.skills {
  width: 100%;
  background: rgb(67, 31, 148);
  background: linear-gradient(
    360deg,
    rgba(67, 31, 148, 1) 0%,
    rgba(108, 26, 217, 1) 100%
  );
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills_title {
  text-align: center;
  color: white;
}

.skills_container {
  padding: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.img {
  width: 6rem;
  height: 6rem;
  background: red;
  margin: 1rem;
}

/******************************CONTACT***********************************/

.contact {
  color: #212529;
}

.contact_title {
  text-align: center;
  margin-top: 4rem;
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.contact_form input,
textarea {
  background: #fff;
  border: 1px solid #dadada;
  transition: 0.3s ease all;
  border-radius: 3px;
  height: 1.5rem;
  padding-left: 0.3rem;
  font-size: 0.8rem;
}

.contact_form textarea {
  height: 3.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.5rem;
}

input:focus {
  outline: none !important;
  border-color: #6e14e3;
  box-shadow: 0 0 10px #6e14e3;
}
textarea:focus {
  outline: none !important;
  border-color: #6e14e3;
  box-shadow: 0 0 10px #6e14e3;
}

.btn_send {
  border: none;
  outline: none;
  margin-bottom: 1rem;
  align-self: flex-end;
}

.contact_links_container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.contact_links_container a {
  color: #808080;
  text-decoration: none;
}

.contact_link {
  margin-left: 1.5rem;
  transition: 0.3s ease all;
}
.contact_link:hover {
  color: #6e14e3;
}
.icon {
  display: none;
}
@media (max-width: 900px) {
  .porfolio_item {
    flex-direction: column;
  }
  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .contact_links_container {
    width: 100%;
    margin-top: 0.3rem;
    flex-direction: column;
    align-items: center;
  }
  .contact_links_container a {
    text-align: center;
  }
  .contact_link {
    margin-top: 1rem;
  }
  .btn {
    width: 50%;
  }
  .portfolio_item_text h5 {
    margin-top: 1.3rem;
  }
  .contact_form {
    width: 80%;
  }
  .info {
    width: 100%;
    padding: 1rem;
  }
  .header {
    flex-direction: column;
  }
  .header_links {
    display: none;
  }
  .img {
    margin: 0.5rem 0;
  }
}
